extends layout
block content 
    p=message
    form(action='/login', method='POST', autocomplete='off')
        div(class='form-group')
            label(class='text-light') Username
            input(type='text', class='form-control', name='username', placeholders='Username', required)
        div(class='form-group')
            label(class='text-light') Password
            input(type='password', class='form-control', name='password', required)
        div(class='form-group')
            button(type='submit', class='btn btn-primary') Submit
            a(href='/register' class='float-right text-danger') Don't have an account?