extends layout

block content
    table(class='table text-light')
        thead
            tr
                th(scope='col') Owner
                th(scope='col') Name
                th(scope='col') Coords
        tbody
            each village in data
                tr
                    th(scope='row')=village.owner
                    th=village.name
                    td #{village.coords.x}, #{village.coords.y}